{% extends 'base.html' %}
{% block title %}북마크 목록{% endblock %}
{% block content %}

    <div class="btn-group mb-3">
        <a href="{% url 'add' %}" class="btn btn-primary">북마크 추가</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            <th scope="col">URL</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for bookmark in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'detail' pk=bookmark.id %}" class="text-decoration-none text-dark">{{ bookmark.site_name }}</a></td>
            <td><a href="{{ bookmark.url }}" target="_blank" class="text-decoration-none">{{ bookmark.url }}</a></td>
            <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-info">수정</a></td>
            <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger">삭제</a></td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}